#search{
    width: 130px;
    color:rgb(67, 197, 197);
    background-color: white;
    border-radius: 10px;
    border-color: rgb(65, 197, 197);
    display: block;
    margin: 10px;
    cursor: pointer;
}

#agregar{
    color: white;
    background-color: rgba(84, 182, 182, 0.952);
    border-radius: 50px;
    border-color:rgb(92, 212, 212);
    display: block;
    margin: 10px;
    cursor: pointer;
}

#create_account{
    width: 150px;
    color: white;
    background-color: blue;
    display: block;
    margin: 10px;
    cursor: pointer;
    border-color: black;
    box-shadow: 2px 2px 5px #000;
}
body{
    padding: 20px; 
}